:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e5e7eb;
  background-color: #020617;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* min-width: 320px;
  height: 100vh;
  overflow-x: hidden; */
}

#root {
  height: 100vh;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}
